/*
	Robert H. Grant
	VFW :: 1108 :: P4
	Full Sail University - Online
	Instructor: Chad Gibson
	Filename: style.css
                                                                           */


/* INDEX.HTML: Menu items*/

body#index {
    height: 400px;
}

/* Puts top image where it needs to be */
div#mainMenu {
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 0px;
    height: 144px;
    width: 328px;
    background: url(../img/topImage.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

img#headerImage {
    margin-top: 20px;
    border: 1px solid white;
    opacity: 0.6;
}

/* Center companyMessage on div#mainMenu above */
p#companyMessage {
    color: white;
    margin-top: 2px;
    margin-left: 10px;
}

/* SETS middleImage where it needs to be in ul#buttons */
ul#buttons {
    list-style-type: none;
    height: 469px;
    margin-top: 1px;
    margin-left: -10px;
    width: 328px;
    background: url(../img/middleImage.jpg);
    background-repeat: no-repeat;    
}

/* KEEPS BUTTONS LINED UP ON MIDDLEIMAGE.JPG */
li {
    margin-left: -40px;
}

/* BUTTONS ON INDEX.HTML */
img#downloadCat {
    margin-top: -5px;
}

img#requestCat {
    margin-top: -4px;
}

img#orderStat {
    margin-top: -1px;
}

img#settings {
    margin-top: -4px;
    margin-left: -1px;
}

img#signout {
    margin-top: -7px;
}
/* END BUTTONS ON INDEX.HTML */


/* Set the background image and parameters of the fieldset */
fieldset#main {                  
    width:300px;
    margin-left: -10px;
    background: url(../img/background.jpg);
    overflow: hidden;                      
} /* END fieldset main */

fieldset#receipt {
    display: none;
    width: 308px;
    overflow: hidden;
} /* END fieldset second */

fieldset#receipt div {
    background-color: white;
}

/* Setup header with graphic */
header#titlebar {                          
    font-size: 12px;                       
    height: 50px;                          
    width: 325px;                          
    margin-left: -14px;                    
    margin-bottom: 10px;                   
    margin-top: -15px;                     
    border: 1px solid black;               
    color: #1a3402;                        
    background-image:url('../img/button.jpg');
    background-repeat:no-repeat;              
    text-align:center;                        
} /* END header#titlebar */ 



/* Set the width and cursor pointer for the range slider */
input#copiesNeeded {                          
    width: 290px;
    cursor: move;
} /* END input#copiesNeeded */



/* Set the border and cursor pointer for the checkbox. */
input#wasInTheaters {                         
    outline: double;                          
    
    /* Hand pointer for cursor */
    cursor: pointer; 
} /* END input#wasInTheaters */



/* Make all labels use the following settings */
label {              
    font-family: Arial, Times, Helvetica;
    color: #1a3402;
} /* END label */



body {               
    margin-top: 0px;
    margin-left: 10px;
} /* END body */



/* Hide the legend */
legend#legMovie {    
    display:none;    
} /* END legend#legMovie */


/* Set hyperlink colors LoVe HAte */
a:link {color: #1a3402;}
a:visited{color: black;}
a:hover{color: #55812d;}
a:active{color: #faf104;}
} /* END a */


/* Make all imput fields see through for uniqueness */
input {
    opacity:0.8;     
} /* END input */

/* Center the submit button */
p#submitButton {
    text-align: center;
} /* END p#submitButton */


/* Set shipping box parameters. */
textarea#tcomment {  
    height: 80px;
    margin-bottom: 2px;
} /* END textarea#tcomment */


/* Hide the clear local link until actual data is stored. */
a#clearLocal {       
        visibility: hidden; 
} /* END a#clearlocal */

/* Setup release date parameters. */
input#releaseDate {
    margin-top: 20px;
    width: 90px;
} /* END input#releaseDate */

/* ====================================================================================
   RECEIPT CONTROL
   = =================================================================================== */

div {
    border: 1px double gray;
}

/* Setup the receipt, but keep it hidden until needed. */
#receipt {
    margin-left: -12px;
    background-color: #d0e9d5;
    font-family: courier;
    font-size: 12px;
}

#orderTitle {
    text-align: center;
}


/* Bobs DVD Superstore */
#receiptHeader {
    text-align: center;
    color: black;
    font-size: 10px;
}


/* Put Your order was successfully placed on receipt in bold red lettering */
p#successful {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}


/* Hides bullets from the <ul> on the receipt */
.receiptList {
    list-style-type: none;
}


/* Centers graphic on receipt */
#receiptGraphic {
    margin-left: -30px;
    font-family: courier;
    text-align: center;
}

#keepReceipt {
    color: #646865;
    margin-left: -5px;
}